<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="display: none;">
        <h1>
            SmartTable
            <small></small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title pull-left">Basics</h3>
                    </div>
                    <div class="box-body">
                        <table st-table="simpleCollection" class="table table-striped">
                            <thead>
                            <tr>
                                <th>first name</th>
                                <th>last name</th>
                                <th>birth date</th>
                                <th>balance</th>
                                <th>email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in simpleCollection">
                                <td>{{row.firstName}}</td>
                                <td>{{row.lastName}}</td>
                                <td>{{row.birthDate}}</td>
                                <td>{{row.balance}}</td>
                                <td>{{row.email}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title pull-left">Advanced</h3>
                    </div>
                    <div class="box-body">

                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->