<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Echarts
            <small>Preview Sample</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-table"></i> Table</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                   <div class="box-header with-border">
                       <h3 class="box-title">Line Chart</h3>
                       <div class="box-tools pull-right">
                           <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                           </button>
                           <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                       </div>
                   </div>
                    <div class="box-body" id="linechart" style="height: 250px;">

                    </div>
                </div>
            </div>
        </div>
        <!-- Your Page Content Here -->

    </section><!-- /.content -->
</div><!-- /.content-wrap